@font-face {
    font-family: 'ubuntu-bold';
    src: url('./../fonts/Ubuntu-Bold.ttf');
};

@font-face {
    font-family: 'ubuntu-medium';
    src: url('./../fonts/Ubuntu-Medium.ttf');
};

@font-face {
    font-family: 'ubuntu-regular';
    src: url('./../fonts/Ubuntu-Regular.ttf');
};